

.contendor_procesos{
    display: flex;
    justify-content: space-between;
  

}
.contendor_procesos div{

    width: 6%;
    height: 10vh;
    border-radius: 80px;
    border-left: yellow 2px solid ;
    border-top: blue 2px solid;
background: rgba(18, 18, 18,0.1);
}
p{
    font-size: 8px;
    text-wrap: balance;
    text-align: center;
}