
*{
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
 
   
}
h1{
    font-size: 16px;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
li{
    cursor: pointer;
    font-size: 10px;
}
section {
    margin: 20px;
}
h2 {
    color: #4CAF50;
}
.item {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}
@scope (.subcomtainer_card_inv){
    article{

        border:1px solid #333;
        width: 100%;
        border-left:solid 6px #4CAF50;
        box-shadow: 1px 1px  black;   
    }
   
}
span{
    width: 20%;
    font-size: 10px;
    overflow: scroll;
}
.comtainer_card_inv{
display: flex;
justify-content: space-between;
margin: 10px;
border-radius: 20px;
}
.comtainer_card_inv p{
font-size: 10px;
}
article{
   
    margin: 8px;
}
 img{
    object-fit: cover;
    width: 60px;
    margin: auto 10px ;
    padding: 10px;
 }
 img:hover{

    transform: scale(1.3);
 }

:is(h6,header){
    text-align: center;
  
    
}























