body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
 
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
li{
    cursor: pointer;
}
section {
    margin: 20px;
}
h2 {
    color: #4CAF50;
}
.item {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}
.comtainer_card_inv{
    width: 17%;
    border:1px solid #333;
    box-shadow: 1px 1px  black;
    border-left:solid 6px #4CAF50;
    margin: 8px;
}
article{
    margin: 8px;
}