body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 10px;
}
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}
nav ul li {
    display: inline;
    margin: 0 10px;
    font-size: 10px;
}
a{
    list-style: none;
    text-decoration: none;
}
section {
    margin: 20px;
}
h2 {
    color: #4CAF50;
    font-size: 13px;
}
.ventas table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
.ventas th,.ventas td {
    border: 1px solid #ddd;
    padding: 8px;
}
.ventas th {
    background-color: #4CAF50;
    color: white;
}

@scope(section){
}
.agregar,.ventas,.prestamos{
    display: none;
   
}
:is(.container_opcion,.container_tabla_menu){
    display: flex;
    justify-content: space-between;
  

}

.container_opcion{
    display: flex;
    justify-content:space-between;
    padding: 4px;
    font-size: 10px;
}
.container_opcion P{
font-size: 10PX;
}
.container_opcion tr{
    font-size: 8PX; 
}
.container_opcion :is(table){
    overflow: scroll;
    border:1px solid #080808;
    border-collapse: collapse;
}
.container_opcion :is(th ,td){
    border:1px solid #080808;  
}
.container_opcion p{
    background: rgb(227, 225, 225);
    border: solid 1px black;
}
.container_opcion p:hover:nth-child(1){
    background: rgb(246, 248, 246);
}
.container_opcion div:nth-child(2){
    background: rgb(117, 138, 117);
}
.container_opcion div:nth-child(3){
    background: rgb(177, 189, 177);
}
:is( .agregar){
  text-align: center;
}
select{
    width: 170px;
}
option:hover{
background: blue;
}
.container_cajas_from{
    display: flex;
    flex-direction: column;
}
label{
    font-size: 10px;
}